footer {
	background-color: #fcf9ee;
	.upper {
		width: 100%;
		padding: 30px 10vw;
		border-top: 1px solid #999;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #1c1c1c;

		h1 {
			font: bold 25px/0.9 'Cormorant Garamond';
			text-align: center;
			margin-left: 10px;

			a {
				letter-spacing: 5px;
				color: #1c1c1c;
			}
			span {
				font: bold 13px/1 'Cormorant Garamond';
				color: #1c1c1c;
				display: inline-block;
				text-indent: 10px;
				letter-spacing: 5px;
			}
		}
		.sns {
			display: flex;
			align-items: center;
			gap: 40px;
			font-size: 20px;
		}
	}
	.mid {
		width: 100%;

		.midWrap {
			width: 100%;
			padding: 0 10vw;
			border-top: 1px solid #999;
			border-bottom: 1px solid #999;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			dl {
				width: 25%;
				border-left: 1px solid #999;
				padding: 30px 0;
				font-size: 16px;

				&:last-child {
					border-right: 1px solid #999;
				}
			}

			dt {
				width: 100%;
				font-weight: bold;
				padding-left: 35%;

				span {
					display: block;
					float: right;
					opacity: 0;
				}
			}

			dd {
				width: 100%;
				margin-top: 10px;
				padding-left: 35%;
			}
		}
	}
	.lower {
		width: 100%;
		padding: 30px 10vw;
		display: flex;
		justify-content: space-between;

		.policy {
			font-size: 16px;
			display: flex;
			justify-content: space-between;
			gap: 40px;
		}

		p {
			font-size: 14px;
			color: #555;
		}
	}
}

@media screen and (max-width: $tablet) {
	footer {
		.upper {
			h1 {
				font-size: 24px;
			}
			.sns {
				font-size: 18px;
			}
		}
		.mid {
			.midWrap {
				dl {
					width: 50%;
					border-left: 1px solid #999;
					border-top: 1px solid #999;
					padding: 30px 0;
					&:nth-child(1),
					&:nth-child(2) {
						border-top: none;
					}
					&:nth-child(2n) {
						border-right: 1px solid #999;
					}
				}
			}
		}
		.lower {
			width: 100%;
			padding: 0;
			display: block;

			.policy {
				width: 100%;
				padding: 30px 10vw;
				display: block;
				border-bottom: 1px solid #999;

				li {
					display: inline-block;
					margin-right: 40px;
				}
			}
			p {
				width: 100%;
				padding: 30px 10vw;
				display: block;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	footer {
		.upper {
			padding: 30px 10vw;
			border-top: 1px solid #999;
			display: block;

			h1 {
				text-align: center;
				margin-bottom: 20px;
			}
			.sns {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 40px;
				font-size: 20px;
			}
		}
		.mid {
			.midWrap {
				padding-top: 30px;
				dl {
					width: 100%;
					border: none;
					padding-top: 0px;

					&:nth-child(2n) {
						border-right: none;
					}

					dt {
						padding: 0;
						span {
							opacity: 1;
						}
					}

					dd {
						padding: 0;
						display: none;
					}
				}
			}
		}
		.lower {
			width: 100%;
			padding: 0;
			display: block;

			.policy {
				width: 100%;
				padding: 30px 10vw;
				display: block;
				border-bottom: 1px solid #999;

				li {
					width: 100%;
					padding: 10px 0;
				}
			}
			p {
				width: 100%;
				padding: 30px 10vw;
				display: block;
			}
		}
	}
}
