header {
	background: #fcf9ee;
	width: 100%;
	display: relative;

	h1 {
		padding: 25px 10vw;
		font: bold 25px/0.9 'Cormorant Garamond';
		text-align: center;
		a {
			letter-spacing: 5px;
			color: #1c1c1c;
		}
		span {
			font: bold 13px/1 'Cormorant Garamond';
			color: #1c1c1c;
			display: inline-block;
			text-indent: 10px;
			letter-spacing: 5px;
		}
	}

	nav#webGnb {
		width: 100%;
		padding: 0 10vw;
		display: flex;
		justify-content: space-between;
		border-top: 0.1px solid #999;

		.gnb {
			display: flex;
			justify-content: space-between;
			align-items: center;

			li {
				padding: 15px 20px;
				a {
					font: 13px/1 'lato';
					color: #1c1c1c;
				}
			}
		}

		.gnbL li:first-child {
			padding-left: 0;
		}

		.gnbR {
			li {
				display: block;
				border-left: 0.1px solid #999;

				&:last-child {
					border-right: 0.1px solid #999;
				}
			}
		}
	}
	.fa-bars {
		font-size: 24px;
		color: #444;
		position: absolute;
		right: 10vw;
		top: 42px;
		transform: translateY(-50%);
		display: none;
	}
}

header.main {
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	h1 {
		a {
			color: #fff;
		}
		span {
			color: #fff;
		}
	}
	nav#webGnb {
		border-top: 0.1px solid #666;
		border-bottom: 0.1px solid #666;

		.gnb {
			li {
				a {
					color: #aaa;
				}
			}
		}

		.gnbR {
			li {
				border-left: 0.1px solid #666;

				&:last-child {
					border-right: 0.1px solid #666;
				}
			}
		}
	}
	.fa-bars {
		color: #fff;
	}
}

@media screen and (max-width: $tablet) {
	header {
		h1 {
			font-size: 24px;
			padding: 15px 10vw;
		}
		nav#webGnb {
			display: none;
		}
		.fa-bars {
			top: 32px;
			display: block;
		}
	}
}

@media screen and (max-width: $mobile) {
	header {
		h1 {
			padding: 10px 10vw;
		}
		.fa-bars {
			top: 27px;
		}
	}
}
