.popup {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	padding: 5vw;

	.con {
		width: 100%;
		height: 100%;

		video,
		iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain; //이미지 잘리는 것 없이 전체 보여주기
		}
	}

	.close {
		position: absolute;
		top: 2vw;
		right: 3vw;
		color: orange;
		cursor: pointer;
	}
}
