.Department {
	.sectionWrap {
		padding: 150px 0;
		border-left: 1px solid #999;
		section {
			width: 100%;
			display: flex;
			flex-wrap: wrap; //★★★

			> h1 {
				width: 30%;
				font: bold italic 30px/1.4 'Cormorant Garamond';
			}
			.articleWrap {
				width: 70%;
			}
		}
		.section01 {
			p {
				font: bold italic 50px/1.4 'lato';
				letter-spacing: -1px;
			}
		}

		.section02 {
			padding: 150px 0 75px 0;
			.articleWrap {
				display: flex;
				justify-content: space-between;
				width: 70%;

				div {
					width: 25%;
					h2 {
						font: bold 25px/1 'lato';
						margin-bottom: 20px;
					}

					p {
						margin-bottom: 15px;
					}
				}
			}
		}

		.section03 {
			width: 100%;

			.articleWrap {
				display: flex;
				flex-wrap: wrap;

				article {
					width: 25%;
					height: 20vw;

					img {
						width: 100%;
						height: 10vw;
						object-fit: cover;
						border-radius: 0 0 3vw 0;

						filter: saturate(0);
						transition: 0.5s;
						position: relative;
						z-index: 1;
					}

					h2 {
						font: bold 20px/1 'lato';
						color: #999;
						margin-top: 1vw;
						transition: 0.5s;
					}

					p {
						font-size: 10px;
						color: #999;
						transition: 0.5s;
					}

					&:hover {
						img {
							filter: saturate(1.2);
							transform: scale(1.2);
							box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
							transition: 0.5s;
							position: relative;
							z-index: 3;
						}
						h2 {
							font-size: 25px;
							color: #333;
							margin-top: 2vw;
							transition: 0.5s;
						}
						p {
							font-size: 15px;
							color: #333;
							margin-top: 0.5vw;
							letter-spacing: -1px;
							transition: 0.5s;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Department {
		.section01 {
			p {
				font: bold 40px/1.4 'arial';
			}
		}

		.section02 {
			.articleWrap {
				display: block;

				div {
					width: 100%;
					margin-bottom: 50px;

					h2 {
						font: bold 20px/1 'arial';
						margin-bottom: 5px;
					}

					p {
						margin-bottom: 10px;
					}
				}
			}
		}

		.section03 {
			.articleWrap {
				article {
					width: 50%;
					height: 30vw;

					img {
						height: 15vw;
					}

					h2 {
						font: bold 18px/1 'arial';
					}

					&:hover {
						h2 {
							font-size: 23px;
							margin-top: 3vw;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Department {
		section {
			width: 100%;
			> h1 {
				width: 20%;
				writing-mode: vertical-lr;
			}
			.articleWrap {
				width: 80%;
			}
		}
		.section01 {
			p {
				font: bold 35px/1.4 'arial';
				margin-top: 50px;
			}
		}

		.section02 {
			.articleWrap {
				display: block;
				margin-top: 60px;

				div {
					margin-bottom: 30px;
				}
			}
		}

		.section03 {
			.articleWrap {
				margin-top: 80px;
				article {
					width: 100%;
					height: 60vw;

					img {
						height: 40vw;
					}

					&:hover {
						h2 {
							font-size: 23px;
							margin-top: 7vw;
						}
					}
				}
			}
		}
	}
}
