.Location {
	width: 100%;

	.sectionCon {
		width: 100%;
		padding: 150px 0;

		ul {
			width: 100%;
			height: 15vw;
			border-left: none;

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			margin: 0 0 100px 0;

			li {
				width: 33.33%;

				display: flex;

				padding: 5vw;

				.iconWrap {
					width: 70px;
					height: 70px;
					background-color: gold;

					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;

					.icon {
						display: block;
						font-size: 30px;
					}
				}

				p {
					margin-left: 20px;
					font: bold 20px/1 'arial';
					letter-spacing: -0.5px;

					span {
						display: block;
						font: normal 15px/1.3 'arial';
						margin-top: 10px;
					}
				}
			}
		}
		#map {
			width: 100%;
			height: 500px;
			background-color: #333;
		}
	}
}

@media screen and (max-width: $tablet) {
	.Location {
		ul {
			width: 100%;
			height: auto;
			border: none;

			display: block;

			li {
				width: 100%;
				padding: 4vw;
				border: 1px solid #333;
				border-left: none;
				margin-bottom: 10px;

				display: flex;
				align-items: center;

				&:first-child {
					border-radius: 0 5vw 0 0;
				}

				&:last-child {
					border-radius: 0 0 5vw 0;
				}

				.iconWrap {
					.icon {
						font-size: 25px;
					}
				}

				p {
					margin-left: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Location {
		ul {
			li {
				.iconWrap {
					.icon {
						font-size: 20px;
					}
				}

				p {
					font: bold 18px/1 'arial';
				}
			}
		}
	}
}
