.Youtube {
	width: 100%;

	article {
		width: 100%;
		height: 20vw;
		position: relative;

		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-between;
		// align-items: center;

		border-top: 1px solid #333;
		border-left: none;

		&:last-child {
			border-bottom: 1px solid #333;
		}

		&:hover {
			left: -50%;
		}

		div {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}

		.number {
			font: bold 80px/1.4 'arial';
			color: #999;
			left: 1%;
		}

		.pic {
			width: 35%;
			left: 15%;
			img {
				width: 100%;
				height: 15vw;
				object-fit: cover;
				border-radius: 0 5vw 5vw 0;
			}
		}

		.txt {
			width: 30%;
			left: 56%;
			background-color: gold;
		}

		.playIcon {
			left: 92%;
			.fa-circle-play {
				font-size: 80px;
				color: #999;
			}
		}

		.watch {
			left: 105%;
			font: bold 80px/1.4 'arial';
			color: #999;
		}
	}
}
