//반응형
$web_s: 1599px;
$tablet: 1279px;
$mobile: 539px;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

//common
@import 'common/reset';
@import 'common/layout';
@import 'common/header';
@import 'common/footer';
@import 'common/popup';

//main
@import 'main/visual';
@import 'main/news';
@import 'main/vids';
@import 'main/pics';
@import 'main/btns';
@import 'main/content';

//sub
@import 'sub/department';
@import 'sub/community';
@import 'sub/gallery';
@import 'sub/youtube';
@import 'sub/location';
@import 'sub/members';
